.map {
  margin-bottom: 30px;

  @media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
    margin-bottom: 10px;
    max-width: 100%;
    object-fit: cover;
    padding: 0 35px;
  }

  @media (max-width: $mobile-width) {
    height: 250px;
    margin-bottom: 31px;
  }
}

.map img {
  @media (max-width: $tablet-width) {
    height: 545px;
    max-width: 100%;
    object-fit: cover;
  }

  @media (max-width: $mobile-width) {
    height: 250px;
  }
}
