.promo {
  width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 2;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
  }
}

.promo__info {
  width: 400px;
  z-index: 2;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    width: 100%;
    align-items: center;
    margin-bottom: 70px;
    align-items: center;
    text-align: center;
    padding-top: 134px;
    padding-bottom: 80px;
    background-image: url("../img/promo-bike-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $promo-background;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-bike-desktop@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    text-align: center;
    min-height: 200px;
    padding: 120px 16px 70px;
    background-image: url("../img/promo-bike-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-bike-mobile@2x.jpg");
    }
  }
}

.promo__title {
  position: relative;
  font-size: 46px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.005em;
  color: $basic-white;
  margin: 0;
  margin-bottom: 24px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
    padding-top: 0;
  }
}

.promo__text {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: $basic-white;
  opacity: 0.8;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    max-width: 435px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;
  }
}

.promo__form form {
  position: relative;
  z-index: 2;

  @media (max-width: $mobile-width) {
    padding: 0 16px;
  }
}
