// Colors

$basic-black: #000000;
$promo-background: #202020;
$basic-title: #1f1f1f;
$basic-white: #ffffff;
$basic-grey-dark: #1c1c1c;
$basic-grey-light: #f6f7f9;
$menu-grey-light: #f6f6f6;
$menu-grey-dark: #48494d;
$input-border: #c9ccd4;
$basic-green: #0ad9c6;

// Viewports

$tablet-width: 1023px;
$mobile-width: 767px;
